/* * {
    box-sizing: border-box;
}

/* Box Model Hack */
* {
    box-sizing: border-box;
  }
  
body {
    margin: 0;
}

  /* Clear fix hack */
  .clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
  .grid-item {
      border: 2px solid black;
      /* height: 15vh; */
  }

  .grid-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-auto-rows: minmax(100px, auto);
      /* grid-column-gap: 20px; */
      /* justify-content: center;
      align-content: center; */
      height: 98vh;
  }

  .grid-item-1 {
      grid-column: 1 / -1;
  }

.grid-item-2 {
    /* grid-column-start: 1;
    grid-column-end: 2; */
    grid-row: span 4;
}

.grid-item-3 {
    /* grid-column-start: 2;
    grid-column-end: 3; */
    grid-row: span 4;
}